* {
  box-sizing: border-box;
}

body, input {
  color: #0a0a0a;
}
body {
  margin: 1em auto;
  max-width: 46em;
  padding: 0 0.62em;
  line-height: 1.6;
}
.nav {
  text-align: right;
  margin-bottom: -2em;
}
h1, h2, h3 {
  line-height: 1.2;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0.4em;
}
table td, th {
  padding: 0.4em 0.9em;
  border: 1px solid #939b97;
}
table th {
  background-color: #eaeeee;
  border-bottom-color: #5a5f5d;
}

@font-face{
  font-family: BQN;
  src: url(DejaVuBQNSansMono.ttf) format('truetype');
}
pre, code, textarea {
  background-color: #e3e7e7;
  color: #292929;
}
pre, code, textarea, .kb {
  font-family: BQN, monospace;
  font-size: 0.94em;
  border: 1px solid #bdcac4;
  letter-spacing: 0.2;
}
code {
  padding: 0.15em 0.1em 0.05em;
  white-space: nowrap;
  border-width: 0.3px;
}
pre, textarea, .kb {
  line-height: 1.2;
}
pre { margin: 1.6em 0.4em; }
pre, textarea { padding: 0.8em; }
textarea { width: 100%; outline: none; resize: vertical; margin: 0; }
.cont { margin: 1.3em 0; }
.rslt { background: none; border-top: none; margin: 0; }
.rslt.err { color: #d11; }
.kb {
  line-height: 1.5;
  width: 100%;
  padding: 0.3em 0;
}
.kb span {
  cursor: default;
  padding: 1px;
}
.rel { position: relative; }
.demo {
  position: absolute; top: 0.2em; right: 0.4em;
  height: 2.2em;
  fill: #272e30;
  cursor: pointer;
}

.replLink {
  float: right;
  position: relative;
  right: 1em;
  top: 0.8em;
  font-size: 0.84em;
  opacity: 0.7;
}

.Value        { color: #1f2020; }
.Function     { color: #1f7229; }
.Modifier     { color: #7b3b60; }
.Modifier2    { color: #857614; }
.Gets         { color: #16170a; }
.Paren        { color: #585f5b; }
.Ligature,
.Separator,
.Bracket      { color: #30241f; }
.Brace        { color: #9130ad; }
.Nothing,
.Number       { color: #6f251f; }
.Comment      { color: #32328b; }
.String       { color: #2d7583; }

a:link        { color: #0b39dc; text-decoration-color: #0b39dc91; }
a:visited     { color: #3d155f; }

.kb span:hover{ background-color: #bce; }
.kb.backslash { background-color: #cee; }

@media (prefers-color-scheme: dark) {
  body, input { color: #d6d7d9; background-color: #141515; }
  input       { border-color: #0c0d0e; }
  textarea, pre, code      { color: #969698; background-color: #0c0d0e; }
  textarea, pre, code, .kb { border-color: #040509; }
  code        { border-color: #0c0d0e; background-color: #0f1011; }
  table td, th{ border-color: #636967; }
  table th    { border-color: #88918c; background-color: #292a2b; }
  .kb span:hover { background-color: #237; }
  .kb.backslash  { background-color: #1e2430; }

  .Value      { color: #b2b9bb; }
  .Function   { color: #3aa548; }
  .Modifier   { color: #93428b; }
  .Modifier2  { color: #998819; }
  .Gets       { color: #cccdcb; }
  .Paren      { color: #5a524a; }
  .Ligature,
  .Separator,
  .Bracket    { color: #9c7dc1; }
  .Brace      { color: #862f9e; }
  .Nothing,
  .Number     { color: #a73227; }
  .Comment    { color: #3f3daa; }
  .String     { color: #3e99ab; }

  a:link      { color: #5592d9; text-decoration-color: #508dd978; }
  a:visited   { color: #8781c1; }
}
