* {
  box-sizing: border-box;
}

body, input {
  color: #0a0a0a;
}
body {
  margin: 1em auto;
  max-width: 46em;
  padding: 0 0.62em;
  line-height: 1.6;
}
.nav {
  text-align: right;
  margin-bottom: -2em;
}
h1, h2, h3, h4 {
  line-height: 1.2;
  margin: 2.5rem 0 1rem 0;
  padding-bottom: 0.1em;
  border-bottom: 0.01em solid #9995
}
a:link.header, a:visited.header {
  text-decoration:none; color:inherit;
}
.header { position:relative; }
.header:before {
  position: absolute;
  left: -0.9em;
  content: "ยง";
  opacity: 0;
}
.header:hover:before {
  opacity: 0.3;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0.4em;
}
table td, th {
  padding: 0.4em 0.9em;
  border: 1px solid #939b97;
}
table th {
  background-color: #eaeeee;
  border-bottom-color: #5a5f5d;
}

@font-face{
  font-family: BQNMod;
  src: url(DejaVuBQNSansMono.ttf) format('truetype');
}
@font-face{
  font-family: FFHD;
  src: url(FairfaxHD_sub.woff2) format('woff2');
}
@font-face{
  font-family: BQN;
  src: url(BQN386.ttf) format('truetype');
}
@font-face{
  font-family: Iosevka;
  src: url(Iosevka_sub.woff2) format('woff2');
}
@font-face{
  font-family: JuliaMono;
  src: url(JuliaMono_sub.woff2) format('woff2');
}
@font-face{
  font-family: f3270;
  src: url(3270_sub.woff2) format('woff2');
}
pre.DejaVu , .DejaVu  .kb span, .DejaVu  .code, .DejaVu  .rslt { font-family:BQNMod,monospace; }
pre.BQN386 , .BQN386  .kb span, .BQN386  .code, .BQN386  .rslt { font-family:BQN,monospace; }
pre.Iosevka, .Iosevka .kb span, .Iosevka .code, .Iosevka .rslt { font-family:Iosevka,f3270,monospace; }
pre.Julia  , .Julia   .kb span, .Julia   .code, .Julia   .rslt { font-family:JuliaMono,monospace; }
pre.Fairfax, .Fairfax .kb span, .Fairfax .code, .Fairfax .rslt { font-family:FFHD,monospace; font-size:1.1rem; line-height:1.01; }
.Fairfax .kb span { line-height:1.25; }
pre.f3270  , .f3270   .kb span, .f3270   .code, .f3270   .rslt { font-family:f3270,monospace; font-size:1rem; line-height:1.1; }
.f3270 .kb span { line-height:1.4; }

code, kbd, svg text {
  white-space: pre;
}
pre, code, textarea, .primitives tr td:first-child {
  background-color: #e3e7e7;
  color: #292929;
}
pre, code, textarea, .kb {
  font-family: BQN, monospace;
  font-weight: normal;
  font-size: 0.94em;
  border: 1px solid #bdcac4;
  letter-spacing: 0.2;
}
.code, .codeCover {
  fill: #e3e7e7;
  stroke: #bdcac4;
}
.codeCover {
  stroke: #e3e7e7;
  user-select: none;
}
code {
  padding: 0.15em 0.1em 0.05em;
  border-width: 0.3px;
}
pre, textarea, .kb {
  line-height: 1.2;
}
pre {
  margin: 1.6em 0.4em;
  overflow-x: auto;
}
pre, textarea { padding: 0.8em; }
textarea { width: 100%; outline: none; resize: vertical; margin: 0; }
.cont { margin: 1.3em 0; }
.rslt { background: none; border-top: none; margin: 0; overflow-x: initial; }
.rslt.err { color: #d11; }
.kb {
  line-height: 1.5;
  width: 100%;
  padding: 0.3em 0;
  position: relative;
}
.kb span, .kb div {
  cursor: default;
  padding: 1px;
}
.kb a {
  margin-left: 0.8em;
  font-size: 0.8em; vertical-align: 0.08em; opacity: 0.8;
}
.kbext {
  position: absolute; bottom: 0.4em; right: 0.1em;
  font-size: 0.7em;
}
.kbext select { opacity: 0.5; border: none; }
.prfx {
  width: 1.2em; text-align: center; margin-left: 0.6em;
  border: 1px solid #bdcac4; border-radius: 0.4em;
  box-shadow: -0.03em 0.02em 0 0 #bdcac4;
}
.rel { position: relative; }
.demo {
  position: absolute; top: 0.2em; right: 0.4em;
  height: 2.2em;
  fill: #272e30;
  cursor: pointer;
}

.replLink {
  float: right;
  position: relative;
  right: 1em;
  top: 0.8em;
  font-size: 0.84em;
  opacity: 0.7;
}

.primitives {
  float: right;
  margin: 0.4em 0.8em 0 1em;
}
.primitives tr td:first-child {
  font-family: BQN, monospace;
}
.primitives tr td:nth-child(2) {
  padding: 0.3em 0.5em 0.4em;
  min-width: 2em;
}
kbd {
  font-family: BQN, monospace;
  border: 0.06em solid currentColor;
  padding: 0.04em 0.3em;
  border-radius: 0.4em;
  box-shadow: -0.02em 0.05em 0 0 currentColor;
}

.Value        { color: #1f2020; }
.Function     { color: #1f7229; }
.Modifier     { color: #7b3b60; }
.Modifier2    { color: #857614; }
.Gets         { color: #16170a; }
.Paren        { color: #585f5b; }
.Ligature,
.Separator,
.Bracket      { color: #30241f; }
.Brace        { color: #9130ad; }
.Nothing,
.Number       { color: #6f251f; }
.Comment      { color: #32328b; }
.String       { color: #2d7583; }

a:link        { color: #0b39dc; text-decoration-color: #0b39dc91; }
a:visited     { color: #3d155f; }

.kb span:hover{ background-color: #bce; }
.kb.prefix { background-color: #cee; }

@media (prefers-color-scheme: dark) {
  body, input, select { color: #d6d7d9; background-color: #141515; }
  input       { border-color: #0c0d0e; }
  textarea, pre, code, .primitives tr td:first-child { color: #969698; background-color: #0c0d0e; }
  textarea, pre, code, .kb, .prfx { border-color: #040509; }
  .prfx { box-shadow: -0.03em 0.02em 0 0 #040509; }
  .code, .codeCover { fill: #0c0d0e; stroke: #040509; }
  .codeCover  { stroke: #0c0d0e; }
  code        { border-color: #0c0d0e; background-color: #0f1011; }
  table td, th{ border-color: #636967; }
  table th    { border-color: #88918c; background-color: #292a2b; }
  .kb span:hover { background-color: #237; }
  .kb.prefix  { background-color: #1e2430; }

  .Value      { color: #b2b9bb; }
  .Function   { color: #3aa548; }
  .Modifier   { color: #93428b; }
  .Modifier2  { color: #998819; }
  .Gets       { color: #cccdcb; }
  .Paren      { color: #5a524a; }
  .Ligature,
  .Separator,
  .Bracket    { color: #9c7dc1; }
  .Brace      { color: #862f9e; }
  .Nothing,
  .Number     { color: #a73227; }
  .Comment    { color: #3f3daa; }
  .String     { color: #3e99ab; }

  a:link      { color: #5592d9; text-decoration-color: #508dd978; }
  a:visited   { color: #8781c1; }
}

svg tspan {
  fill: currentColor;
}
.purple    { fill:#d6afe0; stroke:#3d1b46; } text.purple   ,.purple    text { fill:#3b1346; stroke:none; }
.lilac     { fill:none;    stroke:#736480; } text.lilac    ,.lilac     text { fill:#3b373e; stroke:none; }
.bluegreen { fill:#55cbcb; stroke:#1c4e4e; } text.bluegreen,.bluegreen text { fill:#183d3d; stroke:none; }
.yellow    { fill:#e2d17f; stroke:#a28237; } text.yellow   ,.yellow    text { fill:#7a5a0e; stroke:none; }
.red       { fill:#ce8379; stroke:#861d17; } text.red      ,.red       text { fill:#510d09; stroke:none; }
.green     { fill:#6fb360; stroke:#1b6720; } text.green    ,.green     text { fill:#14401a; stroke:none; }
@media (prefers-color-scheme: dark) {
.purple    { fill:#241922; stroke:#612d86; } text.purple   ,.purple    text { fill:#6e2ca0; stroke:none; }
.lilac     { fill:none;    stroke:#5a4d6a; } text.lilac    ,.lilac     text { fill:#8a8285; stroke:none; }
.bluegreen { fill:#0e2525; stroke:#297f7f; } text.bluegreen,.bluegreen text { fill:#52848a; stroke:none; }
.yellow    { fill:#5b4b25; stroke:#a27e2a; } text.yellow   ,.yellow    text { fill:#9d7925; stroke:none; }
.red       { fill:#532923; stroke:#ae251e; } text.red      ,.red       text { fill:#a6221a; stroke:none; }
.green     { fill:#25431e; stroke:#298221; } text.green    ,.green     text { fill:#298221; stroke:none; }
}
