body {
  color: #0a0a0a;
  margin: 1em auto;
  max-width: 46em;
  padding: 0 0.62em;
  line-height: 1.6;
}
h1, h2, h3 {
  line-height: 1.2;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 0.4em;
}
table td, th {
  padding: 0.4em 0.9em;
  border: 1px solid #939b97;
}
table th {
  background-color: #eaeeee;
  border-bottom-color: #5a5f5d;
}

pre, code {
  background-color: #e3e7e7;
  color: #292929;
  border: 1px solid #bdcac4;
  letter-spacing: 0.2;
}
code {
  padding: 0.15em 0.1em 0.05em;
  white-space: nowrap;
  border-width: 0.3px;
}
pre {
  font-family: monospace;
  margin: 1.6em 0.4em;
  padding: 0.8em;
  font-size: 1.16em;
  line-height: 1.4;
}

.Value        { color: #1f2020; }
.Function     { color: #1f7229; }
.Modifier     { color: #7b3b60; }
.Composition  { color: #857614; }
.Gets         { color: #16170a; }
.Paren        { color: #585f5b; }
.Ligature,
.Separator,
.Bracket      { color: #30241f; }
.Brace        { color: #9130ad; }
.Nothing,
.Number       { color: #6f251f; }
.Comment      { color: #32328b; }
.String       { color: #2d7583; }

a:link        { color: #0b39dc; text-decoration-color:#0b39dc91; }
a:visited     { color: #3d155f; }

@media (prefers-color-scheme: dark) {
  body        { color: #d1d1d1; background-color: #141515; }
  pre, code   { color: #888888; background-color: #0c0d0e; border-color: #040509; }
  code        { border-color: #0c0d0e; background-color: #0f1011; }
  table td, th{ border-color: #636967; }
  table th    { border-color: #88918c; background-color: #292a2b; }

  .Value      { color: #a2acad; }
  .Function   { color: #3aa548; }
  .Modifier   { color: #92428a; }
  .Composition{ color: #998819; }
  .Gets       { color: #a5a896; }
  .Paren      { color: #585047; }
  .Ligature,
  .Separator,
  .Bracket    { color: #9a79be; }
  .Brace      { color: #862f9e; }
  .Nothing,
  .Number     { color: #a43126; }
  .Comment    { color: #3f3fb1; }
  .String     { color: #3f9bae; }

  a:link      { color: #508dd9; text-decoration-color:#508dd978; }
  a:visited   { color: #847cbc; }
}
